.cta {
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta button {
    display: block;
    margin: auto;
    width: 250px;
    height: 74px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 61px;
    margin-top: 3rem;
    margin-bottom: 8rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid #F2709c;
    transition: 0.8s;
    cursor: pointer;
    background: white;
}

.cta button:hover {
    transition: 0.8s;
    color: white;
    background: linear-gradient(90deg, #F2709C 30.42%, #FF9472 117.42%)
}

.cta h1 {
    color: rgba(0, 0, 0, 0.7);
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cta p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
}